@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap")
layer(base);

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@variant dark (&:where(.dark, .dark *));

#app {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #2c3e50; */
}

.default-colors {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-neutral-100;
}

.darker-colors {
  @apply bg-neutral-200 dark:bg-gray-950;
}

.default-shadow {
  @apply shadow-md shadow-gray-200 dark:shadow-gray-950;
}

.row-center {
  @apply flex items-center justify-center;
}

.col-center {
  @apply flex flex-col items-center justify-center;
}

.default-hover {
  @apply hover:scale-105 duration-150;
}

.default-text {
  @apply dark:text-gray-100 text-gray-800;
}

.shiny {
  will-change: filter;
  transition: filter 300ms;
}

:root {
  --drop-shadow-size: 2em;
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-neutral-100;
}

.shiny:hover {
  filter: drop-shadow(0 0 var(--drop-shadow-size) #86efac);
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

.router-slide-enter-active,
.router-slide-leave-active {
  transition: 300ms ease all;
}

.router-slide-enter-from,
.router-slide-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}
